Django==1.11.29
django_autocomplete_light==3.2.10
django_ckeditor==5.4.0
django_recaptcha==3.0.0
djangorestframework==3.8.2
mistune==3.0.1
Pillow==5.1.0
PyMySQL==1.1.0
setuptools==41.0.1
xadmin==0.6.1
